

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.header-container {
  display: flex;
  /* border: 1px solid black; */
}

.card {
  padding: 2em;
}

body {
  color: #888;
}

.cats-container { 
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 2rem;
  border: solid 2px black;
}

.body-container {
  display: flex;
  flex-direction: column;
  border: solid 2px black;
  padding: 1rem;
  margin-top: 15%;
  align-items: center;
}


#search-bar {
  margin-right: 1rem;
}

