/* This will contain the styling for your pages. Both HTML files can link to the same css file. */

.error {
  border-color: red;
}

.input-container {
  display: flex;
  align-items: center;
  /* border: 1px solid red; */
}

.icon {
  
  /* border: 1px solid red; */
  
  height: 15px;
  width: 15px;
  margin-left: 10px;
}