h1 {
  text-decoration: underline;
}

.box {
  height: 200px;
  width: 200px;
  margin: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box1 {
  background-color: #05668d;
  box-shadow: -10px 10px black;
}

.box2 {
  background-color: hsl(106, 39%, 56%);
  box-shadow: 0 4px 8px 0 hsl(106, 39%, 56%) ;
}

.box3 {
  background-color: hsl(42, 66%, 61%);
  box-shadow: 0px 0px 10px 10px hsl(42, 66%, 61%);
}

.box4 {
  background-color: hsl(6, 58%, 60%);
  box-shadow: 0px 0px 20px hsl(6, 58%, 40%);
}

#text-shadow {
  font-size: 5rem;
  color: black;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin: 0 0 20rem 0;
  text-align: center;
}
